<html>
<head>
<style>
</style>
</head>
<body>
	<form method="POST">
			{%csrf_token%}
<div style="background-color:pink;width:800px;height:150%; border:2px solid;padding:75px;" >
<div style="background-color:white;width:600px;height:85%; border:2px solid;padding:75px;">
	<!-- <a href="#" style=" text-decoration:none;">products</a>&nbsp; -->
<center><h1>	BUYER-PAGE</h1></center>
<h3>product_name</h3>
<input style="width:550px;padding:10px;" type="text" name="product_name" placeholder="Name of the product_name">

<h3>user_email</h3>
<input style="width:550px;padding:10px;" type="text" name="user_email" placeholder="youremail@gmail.com">

<h3>cost_product</h3>
<input style="width:550px;padding:10px;" type="text" name="cost_product" placeholder="cost_product">
<br>
<center><button style="background-color:pink">submit</button></center>
</div>
</div>
</form>
</body>
</html>
