<html>
<head>
<style>
</style>
</head>
<body>
	<form method="POST">
			{%csrf_token%}
<div style="background-color:pink;width:800px;height:150%; border:2px solid;padding:75px;" >
<div style="background-color:white;width:600px;height:85%; border:2px solid;padding:75px;">
	<!-- <a href="#" style=" text-decoration:none;">products</a>&nbsp; -->
<center><h1>USER-PAGE</h1></center>
<h3>username</h3>
<input style="width:550px;padding:10px;" type="text" name="username" placeholder="Name of the candidate">
<h3>phone_no</h3>
<input style="width:550px;padding:10px;" type="text" name="phone_no" placeholder="phone_no">
<h3>email</h3>
<input style="width:550px;padding:10px;" type="text" name="email" placeholder="youremail@gmail.com">

<h3>account_blns</h3>
<input style="width:550px;padding:10px;" type="text" name="account_bln" placeholder="account_blns">
<br>
<center><button style="background-color:pink">submit</button></center>
</div>
</div>
</form>
</body>
</html>
